{% extends 'base.html' %}

{% block title %}Todjando | Edit Item{% endblock %}

{% block content %}

    {% if item %}
        <br />
        <form class="form-inline my-2 my-lg-0" action="{% url 'edit' item.id %}" method="POST">
        {% csrf_token %}
        <input name="item" class="form-control mr-sm-2" type="search" 
            placeholder="{{ item.item }}" value="{{ item.item }}" aria-label="Search">
        <input type="hidden" value="{{ item.completed }}" name="completed" />
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit</button>
        </form>
    {% endif %}

{% endblock %}
