{% extends 'base.html' %}

{% block title %}Todjando{% endblock %}

{% block content %}

    {% if all_items %}
    <table class="table table-bordered">
        {% for i in all_items %}
            <tr {% if i.completed %}class="table-secondary"{% endif %}>
                    <td>{{ i.item }}</td>
                    <td><center>{{ i.completed }}</center></td>
                    <td><center>Delete</center></td>
                </tr>
        {% endfor %}
    </table>
    {% endif %}


{% endblock %}
