{% extends 'base.html' %}

{% block title %}Todjando{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <br />
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    {% if all_items %}
    <br />
    <table class="table table-bordered">
        {% for i in all_items %}
            <tr {% if i.completed %}class="table-secondary"{% endif %}>
                    <td {% if i.completed %}class="striker"{% endif %}>{{ i.item }}</td>
                    {% if i.completed %}
                    <td><center><a href="{% url 'uncross' i.id %}">Uncross</a></center></td>
                    {% else %}
                        <td><center><a href="{% url 'cross_off' i.id %}">Cross Off</a></center></td>
                    {% endif %}
                    <td><center><a href="{% url 'delete' i.id %}">Delete</a></center></td>
                </tr>
        {% endfor %}
    </table>
    {% endif %}


{% endblock %}
